* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*links have no underline*/
a {
  text-decoration: none;
  color: #fa8d8f;
}


header {
  background-image: url("bgk-header.png");
  background-repeat: no-repeat;
  padding: 11px ;
  height: 700px;
  width: 120%;
  z-index:1;
  font-size: 22px;
  background-size: cover;
}


nav {
  margin: 10px 0px 0px 122px;
  padding: 4px 54px;
  background-image: url("logo.png");
  height: 600px; 
  display: inline block;
  background-repeat: no-repeat; 
}


nav li {
  color: white;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  padding: 12px 9px;
}

nav li:hover {
  color: #65d4ca;
  transition: all 0.4s linear;
}


.symboltext {
  color: #65d4ca;
  font-size: 28px; 
  padding: 4px 0px;
  margin: 21px 0px;
  margin-right: 192px;
}

.container {
  width: 70%;
  margin: 122px 0px;
  padding: 0px;
  text-align: center;
  color: white;
}
.container h1 {
  margin-top: 22px;
  padding: 11px 10px;
  text-align: center;
}

.container p {
  margin: 22px;
  padding: 11px 10px;
  text-align: center;
  font-size: 18px;
}

.headerinformation {
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-main1 {
  background-color: ;
  border: solid  2px #65d4ca ;
  color: #65d4ca ;
  font-weight: 600;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-main2 {
  border-bottom: solid  2px #65d4ca ;
  color: #65d4ca ;
  padding: 2px 45px;
  font-size: 1px;
}

